node_modules/
.DS_Store
*.log
build/
dist/
.env
.env.local
.env.*.local
*.swp
*.swo
.idea/
.vscode/
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.pytest_cache/
.coverage
instance/
model_files/
*.joblib
*.h5
postgres_data/
.DS_Store
